@{
    ViewBag.Title = "Home Page";
    int idPerformance = ViewBag.IdPerformance;
    string nombre = ViewBag.nombre;
    var perfil = Session["perfil"];
    var idUsuario = Session["idUsuario"];

}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
    }

    /*Background color*/
    #grad1 {
        background-color: #f3f3f3;
    }
    .modal {
        background-color: rgba(0, 0, 0, 0.5);
    }
    /*form styles*/
    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px;
    }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            /*stacking fieldsets above each other*/
            position: relative;
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            /*stacking fieldsets above each other*/
            position: relative;
        }

            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }

            #msform fieldset .form-card {
                text-align: left;
                color: #9E9E9E;
            }

        #msform input, #msform textarea {
            padding: 0px 8px 4px 8px;
            border: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0px;
            margin-bottom: 25px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
            color: #2C3E50;
            font-size: 16px;
            letter-spacing: 1px;
        }

            #msform input:focus, #msform textarea:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: none;
                font-weight: bold;
                border-bottom: 2px solid skyblue;
                outline-width: 0;
            }

        /*Blue Buttons*/
        #msform .action-button {
            width: 150px; /* Cambia el valor según sea necesario */
            background: #00aec7;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 10px; /* Aumenta el valor del padding según sea necesario */
            margin: 10px 5px;
        }


            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
            }

        /*Previous Buttons*/
        #msform .action-button-previous {
            width: 150px;
            background: #616161;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

            #msform .action-button-previous:hover, #msform .action-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
            }
        #msform input.selected {
            border-bottom: 2px solid skyblue;
            background-color: rgba(135, 206, 250, 0.2);
            box-shadow: 0 0 5px skyblue;
            border: 2px solid skyblue;
        }

    .boton {
        border-bottom: 2px solid skyblue !important;
        background-color: #00aec7 !important;
        box-shadow: 0 0 5px !important;
        border: 2px solid !important;
    }
    /*Dropdown List Exp Date*/
    select.list-dt {
        border: none;
        outline: 0;
        border-bottom: 1px solid #ccc;
        padding: 2px 5px 3px 5px;
        margin: 2px;
    }

        select.list-dt:focus {
            border-bottom: 2px solid skyblue;
        }

    /*The background card*/
    .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative;
    }

    /*FieldSet headings*/
    .fs-title {
        font-size: 25px;
        color: #2C3E50;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: left;
    }

    /*progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey;
        display: flex; /* Cambia el comportamiento del contenedor a flex */
    }

        #progressbar .active {
            color: #000000;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: auto; /* Cambia el ancho a automático para que los elementos se ajusten automáticamente */
            flex: 1; /* Ajusta el ancho de cada elemento automáticamente */
            position: relative;
            text-align: center; /* Centra el contenido */
        }

        /*Icons in the ProgressBar*/
        #progressbar #descripcion:before {
            font-family: FontAwesome;
            content: "\f2b5";
        }

        #progressbar #account:before {
            content: "";
            background-image: url('/Content/img/i1.png');
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center;
        }

        #progressbar #personal:before {
            content: "";
            background-image: url('/Content/img/i2.png');
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center;
        }
        #progressbar #payment:before {
            content: "";
            background-image: url('/Content/img/i3.png');
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center;
        }
        #progressbar #interpersonal:before {
            content: "";
            background-image: url('/Content/img/i4.png');
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center;
        }

        #progressbar #cambio:before {
            content: "";
            background-image: url('/Content/img/i5.png');
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center;
        }

        #progressbar #confirm:before {
            content: "";
            background-image: url('/Content/img/i6.png');
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center;
        }
        #progressbar #resu:before {
            font-family: FontAwesome;
            content: "\f03a";
        }
      
        /*ProgressBar before any progress*/
        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px;
        }

        /*ProgressBar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1;
        }

        /*Color number of the step and the connector before it*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #00aec7;
        }

    /*Imaged Radio Buttons*/
    .radio-group {
        position: relative;
        margin-bottom: 25px;
    }

    .radio {
        display: inline-block;
        width: 204px;
        height: 104px;
        border-radius: 0;
        background: lightblue;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        cursor: pointer;
        margin: 8px 2px;
    }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
        }

    /*Fit image in bootstrap div*/
    .fit-image {
        width: 100%;
        object-fit: cover;
    }


    .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px; /* Ajusta el margen a tu gusto */
    }

        .checkbox-container input[type="checkbox"] {
            display: none; /* Oculta el checkbox predeterminado */
        }

            .checkbox-container input[type="checkbox"] + label {
                position: relative;
                padding-left: 25px; /* Espacio para la imagen */
                cursor: pointer;
                font-size: 16px; /* Tamaño del texto */
            }

                .checkbox-container input[type="checkbox"] + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 20px; /* Ancho de la imagen */
                    height: 20px; /* Altura de la imagen */
                    border: 1px solid #ccc; /* Borde del checkbox */
                    border-radius: 4px; /* Borde redondeado */
                }

            .checkbox-container input[type="checkbox"]:checked + label:before {
                font-family: 'Font Awesome 6 Free';
                content: "\f00c"; /* Código del icono de tic en Font Awesome */
                font-size: 20px; /* Tamaño del icono */
                color: #007bff; /* Color del icono y del checkbox cuando está seleccionado */
                background-color: #007bff; /* Color de fondo del checkbox cuando está seleccionado */
                border-color: #007bff; /* Color del borde del checkbox cuando está seleccionado */
            }

    .form-card {
        display: inline-block; /* Mostrar los botones en línea */
    }

        /* Ajuste para el último botón dentro de .form-card */
        .form-card input[type="button"]:last-child {
            margin-right: 0; /* Elimina el margen derecho del último botón */
        }

    /* Estilos para los botones dentro de .form-card */
    .form-card {
        display: flex; /* Usar flexbox para alinear los elementos */
        justify-content: space-between; /* Espacio uniforme entre los elementos */
    }

        .form-card input[type="button"] {
            flex: 1; /* Los botones ocupan igualmente todo el espacio disponible */
            margin-right: 10px; /* Espacio entre los botones */
        }

            /* Ajuste para el último botón dentro de .form-card */
            .form-card input[type="button"]:last-child {
                margin-right: 0; /* Elimina el margen derecho del último botón */
            }
    /* Estilos para los botones dentro de .form-card */
    .form-card {
        display: flex; /* Utilizar flexbox para alinear los elementos */
        flex-direction: column; /* Alinear elementos verticalmente */
    }

    .button-container {
        display: flex; /* Utilizar flexbox para alinear los botones */
        justify-content: space-between; /* Espaciar uniformemente los botones */
    }

    /*LAPIZ*/
    .lapiz {
        color: #676464;
        cursor: default;
        transition: color 0.3s;
        position: relative;
        margin-top: 35px;
        margin-right: 10px;
    }

        .lapiz:hover {
            cursor: pointer;
        }

        .lapiz:active {
            color: #13bcf5;
        }

    /*Imaged Radio Buttons*/

    .radio-group {
        position: relative;
        margin-bottom: 25px;
    }

    .radio {
        display: inline-block;
        width: 204px;
        height: 104px;
        border-radius: 0;
        background: lightblue;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        cursor: pointer;
        margin: 8px 2px;
    }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
        }

    /*Fit image in bootstrap div*/
    .fit-image {
        width: 100%;
        object-fit: cover;
    }

    .form-card {
        display: inline-block; /* Mostrar los botones en línea */
    }

        /* Ajuste para el último botón dentro de .form-card */
        .form-card input[type="button"]:last-child {
            margin-right: 0; /* Elimina el margen derecho del último botón */
        }

    /* Estilos para los botones dentro de .form-card */
    .form-card {
        display: flex; /* Usar flexbox para alinear los elementos */
        justify-content: space-between; /* Espacio uniforme entre los elementos */
    }

        .form-card input[type="button"] {
            flex: 1; /* Los botones ocupan igualmente todo el espacio disponible */
            margin-right: 10px; /* Espacio entre los botones */
        }

            /* Ajuste para el último botón dentro de .form-card */
            .form-card input[type="button"]:last-child {
                margin-right: 0; /* Elimina el margen derecho del último botón */
            }
    /* Estilos para los botones dentro de .form-card */
    .form-card {
        display: flex; /* Utilizar flexbox para alinear los elementos */
        flex-direction: column; /* Alinear elementos verticalmente */
    }

    .button-container {
        display: flex; /* Utilizar flexbox para alinear los botones */
        justify-content: space-between; /* Espaciar uniformemente los botones */
    }

    .separator {
        margin-top: 20px; /* Ajustar el margen superior según sea necesario */
        margin: 0 auto; /* Eliminar los márgenes laterales y centrar el separador */
        border-bottom: 3px solid #7380C4; /* Aumentar el grosor del borde inferior */
        padding: 10px 10px; /* Aumentar el espacio interior del separador */
        color: #034;
        clear: both;
    }

    .description {
        font-size: 14px;
        color: #666;
        margin-top: 20px;
    }

    /* RADIO */
    .radio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .radio-group {
        flex-basis: calc(33.33% - 20px); /* Esto ajusta el ancho de cada grupo de radios con espacio entre ellos */
        margin-bottom: 10px; /* Espacio entre los grupos */
    }

        .radio-group input[type="radio"] {
            display: none; /* Oculta el radio predeterminado */
        }

            .radio-group input[type="radio"] + label {
                position: relative;
                padding-left: 25px; /* Espacio para el marcador de radio */
                cursor: pointer;
                font-size: 16px; /* Tamaño del texto */
                display: block;
                margin-bottom: 5px; /* Espacio entre cada radio y su etiqueta */
            }

                .radio-group input[type="radio"] + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px; /* Ancho del marcador de radio */
                    height: 20px; /* Altura del marcador de radio */
                    border: 1px solid #ccc; /* Borde del marcador de radio */
                    border-radius: 50%; /* Borde redondeado */
                    margin-top: -10px; /* Ajuste para centrar verticalmente */
                }

            .radio-group input[type="radio"]:checked + label:before {
                background-color: #007bff; /* Color de fondo del marcador de radio cuando está seleccionado */
            }
    .radio-group {
        flex-basis: 10%; /* Esto ajusta el ancho de cada grupo de checkbox */
        margin-bottom: 10px; /* Espacio entre los grupos */
        margin-right: 60px;
        margin-top: 50px;
    }

        .radio-group input[type="radio"] {
            margin-right: 50px; /* Espacio entre el checkbox y la etiqueta */
        }

        .radio-group label {
            white-space: nowrap; /* Evita que las palabras se dividan en múltiples líneas */
        }
    .tituloResumen {
        margin-right: inherit;
    }
    .btn-square {
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
    }
   
</style>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- MultiStep Form -->
    <div class="container-fluid" id="grad1">
        <button type="button" style="background-color: #00aec7; margin-left: initial" class="btn w-auto my-4 mb-2 text-white" id="volver" onclick="volverAtras();">Volver</button>
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2 w-80">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <p class="h2"><strong>Autoevaluación de habilidades</strong></p>
                    <p class="h4">Hola @nombre, a continuación debes contestar tu Autoevaluación.</p>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar" class="p-0">
                                    <li class="active" id="descripcion"><strong>Inicio</strong></li>
                                    <li id="account"><strong>Aprendizaje continuo</strong></li>
                                    <li id="personal"><strong>Autonomía</strong></li>
                                    <li id="payment"><strong>Colaboración</strong></li>
                                    <li id="interpersonal"><strong>Comunicación efectiva</strong></li>
                                    <li id="cambio"><strong>Gestion del cambio</strong></li>
                                    <li id="confirm"><strong>Visión sistémica</strong></li>
                                    <li id="resu"><strong>Resumen</strong></li>
                                </ul>
                                <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Instructivo</h2>
                                        <div class="row">
                                            <p class="h5">
                                                En las siguientes pestañas deberás evaluar tus habilidades seleccionando
                                                una de las cuatro opciones, en la última pestaña verás un resumen de tus respuestas, en el caso de querer
                                                modificar una, hacer click en el ícono del lápiz, y volver a seleccionar
                                                las habilidades necesarias. </br>
                                                Para finalizar la Autoevaluación hacer click en el botón "Enviar a tu líder".
                                                <br />
                                            </p>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button boton" value="Siguiente" />
                                </fieldset>
                                <fieldset id="tarj1">
                                    <div class="form-card" id="card1">
                                        <h2 class="fs-title">Aprendizaje continuo</h2>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="h5">
                                                    Actitud de superación permanente. Búsqueda constante del crecimiento personal y profesional, siendo consciente de sus fortalezas y aspectos de mejora. Disposición a experimentar nuevas ideas, conocimientos y experiencias.
                                                    <button type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Ver más" class="btn btn-sm btn-info btn-square" onclick="verMas(1);">
                                                        <i class="fas fa-chevron-down"></i>
                                                    </button>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p id="verMas1" style="display: none; color: black">
                                                    1 - Demuestra capacidad para autogestionar su aprendizaje, estableciendo metas personales y trabajando de manera constante para alcanzarlas. <br />
                                                    2 - Aprende de los aportes de los demás. Se enriquece con el talento de otros. <br />
                                                    3 - Muestra una actitud proactiva al afrontar obstáculos, y aprende de los errores para seguir creciendo. <br />
                                                    4 - Experimenta y aprende, disponiéndose abiertamente a nuevos desafíos y experiencias. <br />
                                                    5 - Toma conciencia sobre los aspectos que debe mejorar y fortalecer, y ejecuta acciones de autodesarrollo. <br />
                                                    6 - Da y recibe feedback con apertura. Se muestra abierto a recibir aportes constructivos y los utiliza para ajustar su enfoque y mejorar su desempeño.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="button-container mt-6">
                                            <input id="a1" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Necesita ayuda para mostrar esta habilidad" value="En progreso" />
                                            <input id="a2" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Se desenvuelve bien sin ayuda" value="Autónomo" />
                                            <input id="a3" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Es capaz de ayudar y enseñar a otros miembros del equipo" value="Fortaleza" />
                                            <input id="a4" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="No es requerida por la posición" value="No aplica" />
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous boton" value="Anterior" />
                                    <input type="button" name="next" class="next action-button boton" value="Siguiente" />
                                </fieldset>
                                <fieldset id="tarj2">
                                    <div class="form-card" id="card2">
                                        <h2 class="fs-title">Autonomía</h2>                                        
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="h5">
                                                    Capacidad de tomar decisiones, actuar y asumir los impactos de las mismas. La autonomía se fundamenta en la voluntad, la disciplina y responsabilidad.
                                                    <button type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Ver más" class="btn btn-sm btn-info btn-square" onclick="verMas(2);">
                                                        <i class="fas fa-chevron-down"></i>
                                                    </button>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p id="verMas2" style="display: none; color: black">
                                                    1 -	Actúa en función de un propósito, valores y metas compartidas. <br />
                                                    2 -	Se apropia de los procesos de principio a fin, haciéndose cargo de los resultados y logrando los compromisos asumidos consistentemente. <br />
                                                    3 -	Se involucra y es protagonista en los temas con los que se compromete, le confieren o propone. <br />
                                                    4 -	Comprende su aporte y contribución a los resultados de la organización, analizando el impacto y la relevancia de sus acciones y decisiones. <br />
                                                    5 -	Administra tiempo y recursos de manera eficiente para alcanzar objetivos y responsabilidades.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="button-container mt-6">
                                            <input id="b1" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Necesita ayuda para mostrar esta habilidad" value="En progreso" />
                                            <input id="b2" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Se desenvuelve bien sin ayuda" value="Autónomo" />
                                            <input id="b3" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Es capaz de ayudar y enseñar a otros miembros del equipo" value="Fortaleza" />
                                            <input id="b4" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="No es requerida por la posición" value="No aplica" />
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous boton" value="Anterior" />
                                    <input type="button" name="next" class="next action-button boton" value="Siguiente" />
                                </fieldset>
                                <fieldset id="tarj3">
                                    <div class="form-card" id="card3">
                                        <h2 class="fs-title">Colaboración</h2>                                      
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="h5">
                                                    Actitud genuina para cooperar y colaborar con otros miembros de la empresa apuntando al logro de objetivos comunes, produciendo colectivamente resultados superiores a los individuales.
                                                    <button type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Ver más" class="btn btn-sm btn-info btn-square" onclick="verMas(3);">
                                                        <i class="fas fa-chevron-down"></i>
                                                    </button>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p id="verMas3" style="display: none; color: black">
                                                    1 -	Desarrolla vínculos de confianza, aportando al buen clima del equipo, y de la organización. <br />
                                                    2 -	Colabora y aporta con generosidad sus conocimientos y experiencia, creando un contexto de apertura para la expresión de ideas y la gestión del conocimiento. <br />
                                                    3 -	Contribuye activamente con ideas, energía y deseo de lograr resultados como equipo. <br />
                                                    4 -	Construye de manera interdisciplinaria, generando sinergia con personas dentro y fuera de la organización. <br />
                                                    5 -	Reconoce los logros y comparte los éxitos con el equipo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="button-container mt-6">
                                            <input id="c1" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Necesita ayuda para mostrar esta habilidad" value="En progreso" />
                                            <input id="c2" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Se desenvuelve bien sin ayuda" value="Autónomo" />
                                            <input id="c3" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Es capaz de ayudar y enseñar a otros miembros del equipo" value="Fortaleza" />
                                            <input id="c4" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="No es requerida por la posición" value="No aplica" />
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous boton" value="Anterior" />
                                    <input type="button" name="make_payment" class="next action-button boton" value="Siguiente" />
                                </fieldset>
                                <fieldset id="tarj4">
                                    <div class="form-card" id="card4">
                                        <h2 class="fs-title">Comunicación efectiva</h2>                                       
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="h5">
                                                    Capacidad de transmitir mensajes de manera clara, concisa y comprensible, así como de escuchar activamente y comprender las ideas y perspectivas de los demás.
                                                    <button type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Ver más" class="btn btn-sm btn-info btn-square" onclick="verMas(4);">
                                                        <i class="fas fa-chevron-down"></i>
                                                    </button>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p id="verMas4" style="display: none; color: black">
                                                    1 -	Se expresa de manera clara y concisa, utilizando un lenguaje comprensible. <br />
                                                    2 -	Escucha atentamente, hace preguntas para aclarar puntos y demuestran interés genuino en comprender las perspectivas de los demás. <br />
                                                    3 -	Capaz de ponerse en el lugar de los demás y adaptar su comunicación en consecuencia. <br />
                                                    4 -	Ofrece retroalimentación de manera constructiva realizando comentarios claros, específicos y útiles que ayudan a mejorar el rendimiento y fortalecer las relaciones dentro del equipo. <br />
                                                    5 -	Aborda los conflictos de manera abierta y constructiva, buscando soluciones que beneficien a todas las partes involucradas.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="button-container mt-6">
                                            <input id="d1" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Necesita ayuda para mostrar esta habilidad" value="En progreso" />
                                            <input id="d2" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Se desenvuelve bien sin ayuda" value="Autónomo" />
                                            <input id="d3" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Es capaz de ayudar y enseñar a otros miembros del equipo" value="Fortaleza" />
                                            <input id="d4" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="No es requerida por la posición" value="No aplica" />
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous boton" value="Anterior" />
                                    <input type="button" name="make_payment" class="next action-button boton" value="Siguiente" />
                                </fieldset>
                                <fieldset id="tarj5">
                                    <div class="form-card" id="card5">
                                        <h2 class="fs-title">Gestión del cambio</h2>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="h5">
                                                    Capacidad para actuar en escenarios dinámicos, ambiguos e inciertos, buscando de manera permanente y proactiva, oportunidades para generar ideas y soluciones que agreguen valor a la organización, inspirando a los demás.
                                                    <button type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Ver más" class="btn btn-sm btn-info btn-square" onclick="verMas(5);">
                                                        <i class="fas fa-chevron-down"></i>
                                                    </button>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p id="verMas5" style="display: none; color: black">
                                                    1 -	Frente a situaciones dinámicas y cambiantes del entorno, se comporta de manera flexible y se adapta rápidamente. <br />
                                                    2 -	Fomenta la experimentación en los demás, cuidando el impacto y poniendo en valor los aprendizajes del proceso. <br />
                                                    3 -	Identifica procesos redundantes o inconsistentes y propone mejores alternativas. <br />
                                                    4 -	Promueve, apoya y alienta a los demás en la implementación de nuevas ideas, métodos, herramientas, y/o tecnologías para mejorar los resultados. 
                                                </p>
                                            </div>
                                        </div>
                                        <div class="button-container mt-6">
                                            <input id="e1" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Necesita ayuda para mostrar esta habilidad" value="En progreso" />
                                            <input id="e2" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Se desenvuelve bien sin ayuda" value="Autónomo" />
                                            <input id="e3" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Es capaz de ayudar y enseñar a otros miembros del equipo" value="Fortaleza" />
                                            <input id="e4" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="No es requerida por la posición" value="No aplica" />
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous boton" value="Anterior" />
                                    <input type="button" name="make_payment" class="next action-button boton" value="Siguiente" />
                                </fieldset>
                                <fieldset id="tarj6">
                                    <div class="form-card" id="card6">
                                        <h2 class="fs-title">Visión sistémica</h2>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="h5">
                                                    Capacidad de entender y considerar el sistema completo en el que opera la organización, reconociendo las interconexiones y las interdependencias entre diferentes actores y procesos.
                                                    <button type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Ver más" class="btn btn-sm btn-info btn-square" onclick="verMas(6);">
                                                        <i class="fas fa-chevron-down"></i>
                                                    </button>
                                                </p>
                                            </div>
                                            <div class="col-12">
                                                <p id="verMas6" style="display: none; color: black">
                                                    1 -	Conoce el propósito de la organización, su estrategia y el impacto de su trabajo en la misma. <br />
                                                    2 - Conoce el ecosistema de negocios, sus interrelaciones y variables que operan en él. <br />
                                                    3 -	Puede resolver problemas complejos, generando soluciones que agreguen valor a la compañía. <br />
                                                    4 -	Conoce las necesidades y expectativas de clientes internos y externos; establece y mantiene buenas relaciones con los clientes; y realiza acciones para mejorar su experiencia. <br />
                                                    5 -	Explora el mercado, sus condiciones y las tendencias de negocio, manteniéndose actualizado. 
                                                </p>
                                            </div>
                                        </div>
                                        <div class="button-container mt-6">
                                            <input id="f1" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Necesita ayuda para mostrar esta habilidad" value="En progreso" />
                                            <input id="f2" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Se desenvuelve bien sin ayuda" value="Autónomo" />
                                            <input id="f3" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="Es capaz de ayudar y enseñar a otros miembros del equipo" value="Fortaleza" />
                                            <input id="f4" type="button" data-toggle="tooltip" data-bs-placement="bottom" title="No es requerida por la posición" value="No aplica" />
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous boton" value="Anterior" />
                                    <input type="button" name="make_payment" class="action-button boton" id="confirmar" onclick="VerificarDatos();" value="Confirmar" />
                                </fieldset>
                                <fieldset id="tarj7">
                                    <div class="form-card p-2">
                                        <div class="m-4">
                                            <p class="h2"><strong>Autoevaluación de Habilidades</strong></p>
                                            <p class="h4 mt-2">Revise sus respuestas, una vez enviadas no podrá modificarlas.</p>
                                        </div>
                                        <div id="card1" class="form-card p-1">
                                            <div class="d-flex justify-content-center align-items-center m-4">
                                                <h2 class="fs-title tituloResumen w-30">Aprendizaje Continuo</h2>
                                                <div class="radio-container justify-content-between align-items-center">
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Necesita ayuda para mostrar esta habilidad">
                                                        <input type="radio" name="autodesarrollo" value="En progreso" id="ra2">
                                                        <label for="en_proceso_radio">En progreso</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Se desenvuelve bien sin ayuda">
                                                        <input type="radio" name="autodesarrollo" value="Autónomo" id="ra3">
                                                        <label for="autonomo_radio"> Autónomo</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Es capaz de ayudar y enseñar a otros miembros del equipo">
                                                        <input type="radio" name="autodesarrollo" value="Fortaleza" id="ra4">
                                                        <label for="fortaleza_radio"> Fortaleza</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="No es requerida por la posición">
                                                        <input type="radio" name="autodesarrollo" value="No aplica" id="ra1">
                                                        <label for="no_aplica_radio"> No aplica</label>
                                                    </div>
                                                    <i class="lapiz fas fa-pencil-alt m-3 w-3" onclick="EditarAutoEvaluacion(1)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="card2" class="form-card p-1">
                                            <div class="d-flex justify-content-center align-items-center m-4">
                                                <h2 class="fs-title tituloResumen w-30">Autonomía</h2>
                                                <div class="radio-container justify-content-between align-items-center">
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Necesita ayuda para mostrar esta habilidad">
                                                        <input type="radio" name="empoderamiento" value="En progreso" id="rb2">
                                                        <label for="empoderamiento_en_proceso_radio"> En progreso</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Se desenvuelve bien sin ayuda">
                                                        <input type="radio" name="empoderamiento" value="Autónomo" id="rb3">
                                                        <label for="empoderamiento_autonomo_radio"> Autónomo</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Es capaz de ayudar y enseñar a otros miembros del equipo">
                                                        <input type="radio" name="empoderamiento" value="Fortaleza" id="rb4">
                                                        <label for="empoderamiento_fortaleza_radio"> Fortaleza</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="No es requerida por la posición">
                                                        <input type="radio" name="empoderamiento" value="No aplica" id="rb1">
                                                        <label for="no_aplica_radio"> No aplica</label>
                                                    </div>
                                                    <i class="lapiz fas fa-pencil-alt m-3 w-3" onclick="EditarAutoEvaluacion(2)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="card3" class="form-card p-1">
                                            <div class="d-flex justify-content-center align-items-center m-4">
                                                <h2 class="fs-title tituloResumen w-30">Colaboración</h2>
                                                <div class="radio-container justify-content-between align-items-center">
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Necesita ayuda para mostrar esta habilidad">
                                                        <input type="radio" name="espiritu_del_trabajo" value="En progreso" id="rc2">
                                                        <label for="espiritu_del_trabajo_en_proceso_radio"> En progreso</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Se desenvuelve bien sin ayuda">
                                                        <input type="radio" name="espiritu_del_trabajo" value="Autónomo" id="rc3">
                                                        <label for="espiritu_del_trabajo_autonomo_radio"> Autónomo</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Es capaz de ayudar y enseñar a otros miembros del equipo">
                                                        <input type="radio" name="espiritu_del_trabajo" value="Fortaleza" id="rc4">
                                                        <label for="espiritu_del_trabajo_fortaleza_radio"> Fortaleza</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="No es requerida por la posición">
                                                        <input type="radio" name="espiritu_del_trabajo" value="No aplica" id="rc1">
                                                        <label for="no_aplica_radio"> No aplica</label>
                                                    </div>
                                                    <i class="lapiz fas fa-pencil-alt m-3 w-3" onclick="EditarAutoEvaluacion(3)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="card4" class="form-card p-1">
                                            <div class="d-flex justify-content-center align-items-center m-4">
                                                <h2 class="fs-title tituloResumen" style="width: 30%;">Comunicación Efectiva</h2>
                                                <div class="radio-container justify-content-between align-items-center">
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Necesita ayuda para mostrar esta habilidad">
                                                        <input type="radio" name="habilidad_interpersonal" value="En progreso" id="rd2">
                                                        <label for="habilidad_interpersonal_en_proceso_radio">En progreso</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Se desenvuelve bien sin ayuda">
                                                        <input type="radio" name="habilidad_interpersonal" value="Autónomo" id="rd3">
                                                        <label for="habilidad_interpersonal_autonomo_radio"> Autónomo</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Es capaz de ayudar y enseñar a otros miembros del equipo">
                                                        <input type="radio" name="habilidad_interpersonal" value="Fortaleza" id="rd4">
                                                        <label for="habilidad_interpersonal_fortaleza_radio"> Fortaleza</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="No es requerida por la posición">
                                                        <input type="radio" name="habilidad_interpersonal" value="No aplica" id="rd1">
                                                        <label for="no_aplica_radio"> No aplica</label>
                                                    </div>
                                                    <i class="lapiz fas fa-pencil-alt m-3 w-3" onclick="EditarAutoEvaluacion(4)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="card5" class="form-card p-1">
                                            <div class="d-flex justify-content-center align-items-center m-4">
                                                <h2 class="fs-title tituloResumen w-30">Gestión del Cambio</h2>
                                                <div class="radio-container justify-content-between align-items-center">
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Necesita ayuda para mostrar esta habilidad">
                                                        <input type="radio" name="gestion_del_cambio" value="En progreso" id="re2">
                                                        <label for="gestion_del_cambio_en_proceso_radio"> En progreso</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Se desenvuelve bien sin ayuda">
                                                        <input type="radio" name="gestion_del_cambio" value="Autónomo" id="re3">
                                                        <label for="gestion_del_cambio_autonomo_radio"> Autónomo</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="Es capaz de ayudar y enseñar a otros miembros del equipo">
                                                        <input type="radio" name="gestion_del_cambio" value="Fortaleza" id="re4">
                                                        <label for="gestion_del_cambio_fortaleza_radio"> Fortaleza</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" title="No es requerida por la posición">
                                                        <input type="radio" name="gestion_del_cambio" value="No aplica" id="re1">
                                                        <label for="no_aplica_radio"> No aplica</label>
                                                    </div>
                                                    <i class="lapiz fas fa-pencil-alt m-3 w-3" onclick="EditarAutoEvaluacion(5)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="card6" class="form-card p-1">
                                            <div class="d-flex justify-content-center align-items-center m-4">
                                                <h2 class="fs-title tituloResumen w-30">Visión Sistémica</h2>
                                                <div class="radio-container justify-content-between align-items-center">
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" data-bs-placement="bottom" title="Necesita ayuda para mostrar esta habilidad">
                                                        <input type="radio" name="vision_estrategica" value="En proceso" id="rf2">
                                                        <label for="vision_estrategica_en_proceso_radio"> En progreso</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" data-bs-placement="bottom" title="Se desenvuelve bien sin ayuda">
                                                        <input type="radio" name="vision_estrategica" value="Autónomo" id="rf3">
                                                        <label for="vision_estrategica_autonomo_radio"> Autónomo</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" data-placement="bottom" title="Es capaz de ayudar y enseñar a otros miembros del equipo">
                                                        <input type="radio" name="vision_estrategica" value="Fortaleza" id="rf4">
                                                        <label for="vision_estrategica_fortaleza_radio"> Fortaleza</label>
                                                    </div>
                                                    <div class="radio-group m-1 mt-3 w-21" data-toggle="tooltip" data-bs-placement="bottom" title="No es requerida por la posición">
                                                        <input type="radio" name="vision_estrategica" value="No aplica" id="rf1">
                                                        <label for="no_aplica_radio"> No aplica</label>
                                                    </div>
                                                    <i class="lapiz fas fa-pencil-alt m-3 w-3" onclick="EditarAutoEvaluacion(6)"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="action-button-previous boton" value="Cancelar" onclick="window.history.back()" />
                                    <input type="button" name="make_payment" class="action-button boton w-auto" onclick="AbrirModalEnviar()" value="Enviar a tu lider" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*modal preguntar si esta seguro *@
    <div class="modal" id="modalDeseaEnviar" style="display: none!important; margin-top: 0%;">
        <div class="modal-dialog" style="max-width: 900px!important;">
            <div class="modal-content p-2">
                <div class="row mb-3 m-2" style="justify-content:center">
                    <p class="h4" style="margin-left: 0px; margin-right:0px;"> Recuerde que una vez enviado no podrá modificar su autoevaluación. ¿Desea enviar la autoevaluación a su líder?</p>
                </div>
                <div class="row mb-3 pr-2">
                    <div class="col-md-6">
                        <a href="#" role="button" class="btn btn-danger btn-sm btn-block" onclick="CerrarModalEnviar();" id="CerrarModalEnviar" style="margin-left: 60%; width: 40%;">Cancelar</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" role="button" class="btn btn-info btn-sm btn-block" onclick="GuardarAutoevaluacion();" id="GuardarAutoevaluacion" style="width: 40%;">Enviar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*modal guardado*@
    <div class="modal modal-success" id="modal-enviado" style="display: none">
        <div class="modal-dialog" style="margin-left: 35%;margin-top: 15%;">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Su autoevaluación se envió correctamente</p>
                </div>
            </div>
        </div>
    </div>

</main>

<!--Estos links son para formularios (Si no van aca no funcionan)-->
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script>
    //Codigo para checkbox
    //const checkboxes = document.querySelectorAll('.form-check-input');

    //checkboxes.forEach(checkbox => {
    //    checkbox.addEventListener('click', () => {
    //        checkboxes.forEach(otherCheckbox => {
    //            if (otherCheckbox !== checkbox) {
    //                otherCheckbox.checked = false;
    //            }
    //        });
    //    });
    //});

    var perfil = "@perfil";
    var idUsuario = "@idUsuario";

    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fieldset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fieldset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $('.radio-group .radio').click(function () {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });

        //localStorage.clear();
    });
    //Funcion para que ande el popover
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
    //Funcion para que ande el tooltip
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    //VOLVER
    function volverAtras() {
        window.history.back();
    }
    ///RESUMEN
    function VerificarDatos() {
        var todasLasTarjetasCompletas = true;

        //tarjetas
        for (var i = 1; i <= 6; i++) {
            var tarjetaCompleta = false;
            var selector = '#tarj' + i;
            // verificar si hay una selección en la tarjeta actual (excluyendo los botones de "Siguiente" y "Volver")
            if ($(selector).find('input[type="button"].selected').not('.next, .previous').length > 0) {
                tarjetaCompleta = true;            }

            if (!tarjetaCompleta) {
                $('#confirmar').addClass('next');
                todasLasTarjetasCompletas = false;
                break;

            }
        }

        if (!todasLasTarjetasCompletas) {
            alert('Falta completar una o más tarjetas.');
        } else {
            $("#tarj6").hide();
            $("#tarj7").show();
            CargarDatosResumen();
        }
    }

    //CARGAR LOS DATOS EN EL RESUMEN
    function CargarDatosResumen() {
        var detalleAutoevaluacion = {};
        // Obtener las selecciones guardadas en localStorage
        $('.form-card').each(function () {
            var cardId = $(this).attr('id');
            if (cardId) { // Verificar si el ID de la tarjeta es válido
                var storedData = localStorage.getItem(cardId);
                if (storedData) {
                    var data = JSON.parse(storedData);
                    // Agregar la selección al objeto de detalleAutoevaluacion
                    detalleAutoevaluacion['Habilidad' + cardId.charAt(cardId.length - 1)] = data.calificacion;
                }
            }
        });
        // Iterar sobre las propiedades del objeto habilidades
        for (let i = 1; i <= 6; i++) {
            // Obtener el valor de la habilidad correspondiente
            let valorHabilidad = detalleAutoevaluacion['Habilidad' + i];

            // Seleccionar el input correspondiente en la card actual
            let inputId = 'r'; // ID del primer input en cada card
            switch (i) {
                case 1:
                    inputId += 'a';
                    break;
                case 2:
                    inputId += 'b';
                    break;
                case 3:
                    inputId += 'c';
                    break;
                case 4:
                    inputId += 'd';
                    break;
                case 5:
                    inputId += 'e';
                    break;
                case 6:
                    inputId += 'f';
                    break;
                default:
                    break;
            }

            let input;
            // Marcar el input correspondiente según el valor de la habilidad
            switch (valorHabilidad) {
                case 'No aplica':
                    input = document.getElementById(inputId + '1');
                    input.checked = true;
                    break;
                case 'En progreso':
                    input = document.getElementById(inputId + '2');
                    input.checked = true;
                    break;
                case 'Autónomo':
                    input = document.getElementById(inputId + '3');
                    input.checked = true;
                    break;
                case 'Fortaleza':
                    input = document.getElementById(inputId + '4');
                    input.checked = true;
                    break;
                default:
                    break;
            }
        }
    }


    ////EDITAR
    function EditarAutoEvaluacion(numeroTarjeta) {
        // Ocultar la tarjeta actual
        $(".form-card").removeClass("active").animate({ opacity: 0 }, 600);
        $("#tarj7").hide();

        var tarjetaActual = $("#tarj" + numeroTarjeta);
        tarjetaActual.addClass("active").animate({ opacity: 1 }, 600).show();
        tarjetaActual.show();

        $(".form-card").addClass("active").animate({ opacity: 1 }, 600);
        // progreso del formulario
        $("#progressbar li").removeClass("active");
        $("#progressbar li").eq(numeroTarjeta).addClass("active");
        for (var i = -1; i <= numeroTarjeta; i++) {
            $("#progressbar li").eq(i).addClass("active");
        }
    }

      //GUARDAR AUTOEVALUACION
//Modal
function AbrirModalEnviar() {
    $('#modalDeseaEnviar').show();
}
function CerrarModalEnviar() {
    $('#modalDeseaEnviar').hide();
}
// Función para manejar clic en botones
$('input[type="button"]').click(function () {
    var calificacion = $(this).val(); // Obtener el valor del botón
    var idCalificacion = $(this).attr('id'); // Obtener el ID del botón
    var idHabilidad = $(this).closest('.form-card').attr('id'); // Obtener el ID de la tarjeta
    var tarjetaHabilidad = idCalificacion ? idCalificacion.substring(0, 1) : null; // Obtener la categoría del botón (primer carácter del id)

    // Eliminar la selección anterior en la misma tarjeta y categoría
    if (tarjetaHabilidad) {
        $('#' + idHabilidad + ' input[id^="' + tarjetaHabilidad + '"]').removeClass('selected');        }

    $(this).addClass('selected');   // Agregar clase 'selected' al botón clicado

    localStorage.setItem(idHabilidad, JSON.stringify({ calificacion: calificacion, idCalificacion: idCalificacion }));  // Guardar la selección y el ID del botón en localStorage
});

function GuardarAutoevaluacion() {
    var detalleAutoevaluacion = {};
    $('#modalDeseaEnviar').hide();
    // Obtener las selecciones guardadas en localStorage
    $('.form-card').each(function () {
        var cardId = $(this).attr('id');
        if (cardId) { // Verificar si el ID de la tarjeta es válido
            var storedData = localStorage.getItem(cardId);
            if (storedData) {
                var data = JSON.parse(storedData);
                // Agregar la selección al objeto de detalleAutoevaluacion
                detalleAutoevaluacion['Habilidad' + cardId.charAt(cardId.length - 1)] = data.calificacion;
            }
        }
    });

    // Agregar el ID de usuario
    detalleAutoevaluacion.idUsuario = "@idUsuario";
    detalleAutoevaluacion.nombreUsuario = localStorage.getItem('nombreUsuario');
    detalleAutoevaluacion.idPerformance = "@idPerformance";

    // Realizar la solicitud AJAX
    $.ajax({
        type: "POST",
        url: "/PerformanceApp/Api/PerformanceApp/GuardarAutoevaluacion",
        data: detalleAutoevaluacion,
        dataType: "json",
        success: function (response) {
            if (response == 0) {
                // Error al guardar
                alert("Error al guardar la autoevaluación");
                console.log("Error al guardar la autoevaluación");
            } else {
                // Éxito al guardar               
                alert("Autoevaluación guardada con éxito");
                var url = "/PerformanceApp/Index?perfil=" + '' + "&idUsuario=" + '';
                window.location.href = url;
            }
        },
        error: function (jqxhr) {
            // Error en la solicitud AJAX
            console.log("Error en la solicitud AJAX:", jqxhr);
        }
    });
    }
    ///VER MAS DETALLE
    function verMas(i) {
        var masTexto = document.getElementById("verMas" + i);
        if (masTexto.style.display === "none") {
            masTexto.style.display = "block";
        } else {
            masTexto.style.display = "none";
        }
    }
    //function volverAtras() {
    //    window.history.back();
    //}

    //CargarDatos();
    //DeshabilitarBotones();
 //BUSCAR DATOS
 @*function CargarDatos() {
    var url = "/PerformanceApp/Api/PerformanceApp/buscarDatosPerformance?idPerformance=" + "@idPerformance";
    $.getJSON(url)
        .done(function (datos) {
            datos.forEach(function (data) {
                var habilidadesMap = {
                    1: "a",
                    2: "b",
                    3: "c",
                    4: "d",
                    5: "e",
                    6: "f"
                };

                // recorrer las habilidades
                for (var i = 1; i <= 6; i++) {
                    var habilidad = habilidadesMap[i];

                    var selector = "#" + habilidad + data.idCalificacionAutoevaluacion;

                    if (data.idHabilidadAutoevaluacion == i) {
                        $(selector).addClass("selected");
                    }
                }
            });
        });
    }

    function DeshabilitarBotones() {
        //resumen
        $("#resu").hide();
        $("#tarj7").hide();
        $("#confirmar").hide();
        $("#cancelar").show();

        var habilidadesMap = {
            1: "a",
            2: "b",
            3: "c",
            4: "d",
            5: "e",
            6: "f"
        };

        // Recorrer las habilidades
        for (var letra in habilidadesMap) {
            if (habilidadesMap.hasOwnProperty(letra)) {
                for (var i = 1; i <= 4; i++) {
                    var selector = "#" + habilidadesMap[letra] + i;
                    $(selector).prop("disabled", true);
                }
            }
        }
    }*@


</script>
